*{
    box-sizing: border-box;
}
.box1{
   background-color:rgb(112, 216, 213);
   width:300px;
   color: black;
   padding: 20px;
   border:10px solid pink;
   margin: 10px;
}

.box2{
    background-color:black;
    color: lightblue;
    width:300px;
    padding: 40px;
    padding-right: 20px;
    border:10px solid;
    margin: 8px;
    border-radius: 50%; 
 }
 
 .box3{
    background-color:#453333;
    color: #a69497;
    width: 300px;
    /* padding: 5px; */
    border:10px solid;
    margin: 8px;
    border-radius: 50%;
    overflow: hidden;
 }

 img{
    width: 100%;  
    background-image: linear-gradient(to bottom right,#b200ffed, yellow);
 }
